--extra-index-url https://pypi.fury.io/cofDNgE692FsjZ5iiShW/quartic-ai/
--find-links https://download.pytorch.org/whl/torch_stable.html

appdirs==1.4.4
CacheControl==0.12.6
cachy==0.3.0
chardet==4.0.0
cleo==0.8.1
clikit==0.6.2
crashtest==0.3.1
distlib==0.3.2
filelock==3.0.12
html5lib==1.1
Jinja2==3.0.3
keyring==21.8.0
lockfile==0.12.2
MarkupSafe==2.1.1
msgpack==1.0.2
pastel==0.2.1
pexpect==4.8.0
pkginfo==1.7.0
ptyprocess==0.7.0
pycodestyle==2.7.0
pylev==1.4.0
pyparsing==2.4.7
requests==2.26.0
requests-toolbelt==0.9.1
shellingham==1.4.0
six==1.15.0
toml==0.10.2
tomlkit==0.7.2
urllib3==1.26.6
webencodings==0.5.1
